.home__section{
    display: flex;
    padding: 30px;
}
@media screen and (max-width: 720px) {
    
    .home__section {
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
      padding: 15px;
    }
  }